body {
    height: 100%;
    width: auto;
}
#tourVid {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 10px;
    min-width: 150%;
    min-height: 150%;
    opacity: .4;
}
#background {
    z-index: 0;
    pointer-events: none;
}
.text {
    text-align: center;
    font-size: 60px;
    font-family: Verdana;
}
#passport {
    height: 100%;
    top: 0;
    bottom: 0;
    width: auto;
}
#img-container {
    max-height: 100%;
    position: absolute;
    z-index: 20;
}
#passButton, a:link {
    color: gold;
    width: 200px;
    background-color: green;
    opacity: .8;
    position: absolute;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
    left: 250px;
    top: 455px;
    z-index: 10;
}
