body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "mr-eaves-xl-sans",sans-serif;
    color: #444;
}
h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: goldenrod;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "mrs-eaves-xl-serif", serif;
}
#stamph1 {
    color: lightgoldenrodyellow;
    background-image: linear-gradient(to top,#C6B070,#839169,#839169);
}
#tourVid {
    position: fixed;
    left: -300px;
    bottom: -60px;
    min-width: 150%;
    min-height: 150%;
    opacity: .4;
    pointer-events: none;
}
.text {
    text-align: center;
    font-size: 60px;
}
#pass {
    position: relative;
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
    bottom: 0;
}
#passport {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    top: 0;
    z-index: 10;
}
#passContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
}
#passButton, a:link,a:visited {
    color: white;
    text-decoration: none;
    z-index: 15;
    border: 4px solid grey;
}
#buttonContainer {
    display: block;
    right: 0;
    left: 0;
    padding-top: 10px;
    opacity: .8;
    text-align: center;
    z-index: 30;
    grid-row: 1;
}
#stImageContainer {
    background-image: url("images/StampPage.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 970px;
}
.wrapper {
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(2, [row] auto  );
    background-color: #fff;
    color: #444;
}
.box {
    margin: 50px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
#placeholder1 {
      margin-top: 60px;
      position: relative;
      padding: 0;
      margin-right: 100px;
      margin-left: 100px;
      grid-column: col / span 2;
      grid-row: row 1;
      min-width: 350px;
}
#placeholder2 {
      margin-right: 100px;
      margin-left: 100px;
      padding: 0;
      grid-column: col / span 2;
      grid-row: row 2;
      opacity: 0;
}
#placeholder3 {
      margin-left: 50px;
      margin-right: 0px;
      background-image: url("images/germanyStamp.png");
      background-size: contain;
      background-color: rgba(255,255,255, 0);
      background-repeat: no-repeat;
      min-width: 100px;
}
#placeholder4 {
    background-image: url("images/austriaStamp.png");
    background-size: contain;
    background-color: rgba(255,255,255, 0);
    background-repeat: no-repeat;
    min-width: 100px;
}
#placeholder5 {
      margin-left:50px;
      margin-right: 0px;
      background-image: url("images/italyStamp.png");
      background-size: contain;
      background-color: rgba(255,255,255, 0);
      background-repeat: no-repeat;
      min-width: 100px;
}
#placeholder6 {
    background-image: url("images/polandStamp.png");
    background-size: contain;
    background-color: rgba(255,255,255, 0);
    background-repeat: no-repeat;
    min-width: 100px;
}
.adapt{
      position: absolute;
      bottom: 0;
      text-align: center;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 2px;
}

/*CSS for Country/Performance pages*/
.desc {
    font-size: 16px;
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: -5em;
}
.countryHeader {
    padding-top: 50px;
    background: transparent;
    color: #fff;
}
.lilnasx { /*aka country wrapper*/
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(2, 1fr  );
    gap: 0px;
    height: 120%;
    background: transparent;
}
.country {
    background-color: #839169;
    background-image: url("images/cuibg.png");
    background-size: cover;
}
.countryPer {
    position: relative;
    padding: 0;
    grid-column: 2;
    grid-row: 1;
    min-width: 450px;
    background-color: rgba(255,255,255, 0);
    border: 3px solid #C6B070;
}
.perdesc {
    color: #fff;
    background-color: rgba(255,255,255, 0);
}
.mapbox {
    grid-column: 1;
    grid-row: 1;
}
.mapdesc {
    bottom: -4em;
    color: #fff;
    background-color: rgba(255,255,255, 0);
}
.composer {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 70px;
}
.mapbox, .composer , .trivia{
    position: relative;
    padding: 0;
    min-width: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid #C6B070;
}
.linedesc {
    bottom: -3em;
    left: 0;
    color: #fff;
    background-color: rgba(255,255,255, 0);
}
.trivia {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 70px;
    background-size: contain;
}
.triviadesc {
    bottom: -4em;
    left: 0;
    color: #fff;
    background-color: rgba(255,255,255, 0);
}
.nextButton {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    border: 3px solid #C6B070;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(to top left,#C6B070,#839169,#839169);
    transition: background-color .3s;
    transition: border .2s;
    position: absolute;
    width: 3em;
    height: 2em;
    bottom: -2.5em;
    right: 0;
}

.nextButton:hover {
    border: 0;
}
.backButton {
    right: 4em;
}
#gmap {
    background-image: url("images/Germany.jpg");
}
#amap {
    background-image: url("images/Austria.jpg");
}
#imap {
    background-image: url("images/Italy.jpg");
}
#pmap {
    background-image: url("images/Poland.jpg");
}
#gtrivia {
    background-image: url("images/germanycolor.png");
}
#atrivia {
    background-image: url("images/austriacolor.png");
}
#itrivia {
    background-image: url("images/italycolor.jpg");
}
#ptrivia {
    background-image: url("images/polandcolor.jpg");
}
#bonuscontianer {
    position: relative;
    width: 100%;
}
#bPerformance {
    position: absolute;
    left: 0;
    right: 0;
    height: 60%;
    margin: 50px 60px 50px 60px;
    min-width: 730px;
}
#bper {
    border-radius: 20px;
    width: 60%;
    left: 0;
    right: 0;
    border: 3px solid #C6B070;
    min-width: 400px;
    display: inline-block;
}
#bcredits {
    width: 35%;
    font-size: 20px;
    position: absolute;
    right: -40px;
    display: inline-block;
    color: #fff;
    background-color: rgba(255,255,255, 0);
    min-width: 233px;
}
#bdesc {
    font-size: 24px;
    bottom: -4em;
}
#bback {
    font-size: 24px;
    bottom: -8em;
    width: 5em;
    height: 3em;
    right: 1em;
    line-height: 3em;
}
#cheat {
    min-width: 750px;
}

nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #C6B070;
    word-spacing: 20px;
    background: transparent;
    z-index: 100000;
}
a:link {
    text-decoration: none;
    color: white;
}
.navbar, a:visited {

    height: 100%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
  
    background-image: linear-gradient(to top left,#C6B070,#839169,#839169);
    margin: 0;
    display: inline;
    position: absolute;
    left: 0;
    right: 0;
    transition: background-image 1s;
    border-radius: 4px;
    padding: 0;
    font-size: 24px;
    border: 3px solid #C6B070;
    z-index: 10000;
}
  .navbar:hover {
    background-image: linear-gradient(to top left,#b19952,#6f7c57,#72805a);;
}
  
@media screen and (max-width: 800px)
{
    #tourVid {
        opacity: 0;
    }
    #stImageContainer {
        background-image: url("images/stampPage1.png");
        min-width: 200px;
    }
    .wrapper{
        grid-template-columns: repeat(2, [col] auto ) ;
        grid-template-rows: repeat(3, [row] auto  );
    }
    #placeholder1 {
        margin : 20px;
        margin-right: 50px;
    }
    #placeholder2 {
        margin: 10px;
        z-index: -5;
        grid-column: col / span 2;
        grid-row: row 1;
    }
    #placeholder3 {
        margin: 10px;
        margin-left: 20px;
        grid-column: col;
        grid-row: row 2;
    }
    #placeholder4 {
        margin: 10px;
        margin-right: 20px;
        grid-column: col 2;
        grid-row: row 2;
    }
    #placeholder5 {
        margin: 10px;
        margin-left: 20px;
        grid-column: col;
        grid-row: row 3;
    }
    #placeholder6 {
        margin: 10px;
        margin-right: 20px;
        grid-column: col 2;
        grid-row: row 3;
    }
    #bdesc {
        bottom: -7em;
        font-size: 14px;
    }
    #bback {
        right: 0;
        left: 0;
    }
}
@media screen and (max-width: 500px)
{
    #buttonContainer {
        grid-row: 2;
    }
}
