body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#tourVid {
    left: -250px;
    position: fixed;
    bottom: 10px;
    min-width: 150%;
    min-height: 150%;
    opacity: .4;
}
#background {
    z-index: 0;
    pointer-events: none;
}
.text {
    text-align: center;
    font-size: 60px;
    font-family: Verdana;
}
#pass {
    position: relative;
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
    bottom: 0;
    z-index: 10;
}
#passport {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    bottom: 0;
    z-index: 10;
}
#passButton, a:link,a:visited {
    top: 20px;
    color: white;
    display: block;
    text-align: center;
    opacity: .8;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    z-index: 15;
}
#stImageContainer {
    position: relative;
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
    bottom: 0;
    z-index: 10;
}
#stmpImage {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    bottom: 0;
    z-index: 10;
}
.box {
    position: relative;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }